.card {
    background-image: url('https://t3.ftcdn.net/jpg/03/98/41/60/360_F_398416001_f0UKwAUdtkBE1FQ3UCVzAv3a911uHgxm.jpg');
    background-repeat: no-repeat;
    width: 500px;
    height: 100%;
    margin: 4rem 17rem;
}

img {
    width: 30%;
    margin-top: 15.5%;
    margin-bottom: 0.5%;
}

.card-body {
    width: 80%;
}

.info {
    width: 80%;
}

.icon {
    right: 3px;
}

.edit {
    position: absolute;
    width: 15%;
    left: 86%;
    top: 2%;
}
